joblib
matplotlib
nibabel
numpy
pandas
pymc3==3.8
scikit-learn
scipy
seaborn
theano
git+https://github.com/mortonne/mindstorm
git+https://github.com/mortonne/pprocess
git+https://github.com/mortonne/PyMVPA